In [1]:
# import dependencies
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
# location of the CSV file
womens_csv = "../Project1/Resources/2018_Womens_Shoes.csv"
#mens_csv = "../Project1/Resources/mens_shoe_prices.csv"
spring19_womens_csv = "../Project1/Resources/Spring19_women.csv"

In [3]:
# open the CSV and see a preview
shoes_df = pd.read_csv(womens_csv)
shoes_df.head()

,id,Date_Added,date_updated,brand,categories,primaryCategories,imageURLs,keys,manufacturer,manufacturerNumber,...,prices.dateAdded,prices.dateSeen,prices.isSale,prices.size,Merchant,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2018-01-10T19:30:29Z,"2018-01-09T13:35:00.000Z,2018-01-05T13:09:00.0...",False,9.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
1,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,5.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
2,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,9 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
3,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,7.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
4,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2018-02-11T05:04:36Z,"2018-01-16T16:06:00.000Z,2018-01-14T08:55:00.000Z",False,9 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN

In [4]:
#mens_shoes_df = pd.read_csv(mens_csv, error_bad_lines=False)
#mens_shoes_df.head()

In [34]:
spring19_df = pd.read_csv(spring19_womens_csv)
#spring19_df.head()

In [35]:
#spring19_df.info()

In [36]:
# info on the csv file (see where data is missing, data types)
#shoes_df.info()

In [8]:
#mens_shoes_df.info()

In [9]:
# drop unneeded columns here
shoes_df = shoes_df.drop(columns=["id",
                                  "prices.size",
                                  "weight",
                                  "prices.condition",
                                  "imageURLs",
                                  "manufacturerNumber",
                                  "upc",
                                  "sourceURLs",
                                  "prices.availability",
                                  "sizes",
                                  "keys",
                                  "manufacturer",
                                  "prices.dateAdded",
                                  "prices.dateSeen",
                                  "name",
                                  "Date_Added",
                                  "prices.isSale",
                                  "primaryCategories",
                                  "prices.sourceURLs",
                                  "categories",
                                  "prices.amountMin"
                         ])

In [10]:
# rename columns
shoes_df = shoes_df.rename(columns={#"prices.merchant": "Merchant",
                                    "brand": "Brand",
                                    "prices.color" : "Color",
                                    "Type_Name": "Type",
                                    "date_updated": "Date",
                                    "prices.currency": "Currency",
                                    "prices.amountMax": "Prices"
                                   })
shoes_df.head()

      Date       Brand          Type  Prices  Color Currency Merchant
0  2/11/18  2 lips too  Heel Sandals   64.95   Gold      USD    kohls
1  2/11/18  2 lips too  Heel Sandals   64.95   Pink      USD    kohls
2  2/11/18  2 lips too  Heel Sandals   64.95   Pink      USD    kohls
3  2/11/18  2 lips too  Heel Sandals   64.95   Gold      USD    kohls
4  2/11/18  2 lips too  Heel Sandals   64.95  White      USD    kohls

In [37]:
#shoes_df.info()

In [12]:
typebybrand_df = shoes_df.groupby("Brand")["Type"].unique()
typebybrand_df

Brand
2 lips too                                                  [Heel Sandals, Booties]
Altra                                                              [Athletic Shoes]
Arc'teryx                                                          [Athletic Shoes]
Asics                                                              [Athletic Shoes]
Astral                                                            [Flats, Sneakers]
Birkenstock                                                                 [Clogs]
Bogs                                                                     [Sneakers]
Brinley Co.                                 [Boots, Heels, Booties, Flats, Sandals]
Brooks                                                             [Athletic Shoes]
Carrini                                                                     [Boots]
Chaco                                                              [Athletic Shoes]
Daniel Green                                                             [Slippers]
Danskin Now                                                        [Athletic Shoes]
Dansko                                                                      [Clogs]
Dr. Scholl's                             [Loafers, Booties, Ballet Flats, Sneakers]
ELLIE SHOES                                                                 [Flats]
Earth Spirit                                                              [Sandals]
Easy Street                                                                 [Heels]
FOREVER YOUNG                                                               [Boots]
Faded Glory                                                [Sneakers, Flats, Boots]
Fergalicious                                                                [Flats]
Free People                                                               [Booties]
Frye                                                                 [Ballet Flats]
Genuine Dickies                                                             [Clogs]
Hoka One One                                                       [Athletic Shoes]
IB Non-Slip                                                                 [Boots]
Inov 8                                                             [Athletic Shoes]
KEEN                                                                        [Clogs]
Kaanas                                                                      [Heels]
Keds                                                                     [Sneakers]
                                                        ...
kisses by 2 lips too                                               [Boots, Booties]
koolaburra by ugg                                                           [Boots]
lc lauren conrad                                 [Booties, Heels, Sandals, Loafers]
lifestride                        [Booties, Heels, Sandals, Flats, Loafers, Ball...
lugz                                                                      [Booties]
madden nyc                                      [Booties, Heels, Sandals, Sneakers]
muk luks                                                                  [Sandals]
naturalsoul by naturalizer        [Heel Sandals, Ballet Flats, Loafers, Sneakers...
new balance                                               [Athletic Shoes, Sandals]
nike                                                     [Athletic Shoes, Sneakers]
nyla                                                                 [Heel Sandals]
olivia miller                                                               [Boots]
puma                                                                     [Sneakers]
qupid                                              [Heel Sandals, Booties, Sandals]
rampage                                                            [Sandals, Heels]
reef                                                                      [Sandals]
rocky 4eursole                                                            [Sandals]
ryka                                 [Athletic Shoes, Boots, Sandals, Heel Sandals]
seven7                                                             [Flats, Sandals]
simply vera vera wang                         [Flats, Booties, Heels, Ballet Flats]
skechers                                   [Athletic Shoes, Sneakers, Ballet Flats]
so                                            [Ballet Flats, Booties, Flats, Boots]
soft style by hush puppies                                    [Clogs, Heel Sandals]
sonoma goods for life                     [Booties, Loafers, Heel Sandals, Sandals]
spring step                                          [Clogs, Sandals, Heels, Flats]
style charles by charles david    [Heel Sandals, Boots, Heels, Ballet Flats, Loa...
sugar                                                                       [Boots]
under armour                                                             [Sneakers]
unionbay                                                                  [Loafers]
vans                                                                     [Sneakers]
Name: Type, Length: 125, dtype: object

In [13]:
pricesbybrand_df = shoes_df.groupby("Brand")["Prices"].mean()
pricesbybrand_df

Brand
2 lips too                         67.320526
Altra                             129.950000
Arc'teryx                         170.000000
Asics                             119.950000
Astral                             89.925000
Birkenstock                       133.333333
Bogs                               64.990000
Brinley Co.                        53.353684
Brooks                            125.213158
Carrini                            34.950000
Chaco                             119.950000
Daniel Green                       35.000000
Danskin Now                        19.740000
Dansko                            130.000000
Dr. Scholl's                       76.961479
ELLIE SHOES                        37.410000
Earth Spirit                       19.820000
Easy Street                        54.990000
FOREVER YOUNG                      45.990000
Faded Glory                        14.587500
Fergalicious                       54.950000
Free People                       178.000000
Frye                              165.450000
Genuine Dickies                    19.970000
Hoka One One                      144.235714
IB Non-Slip                        39.990000
Inov 8                            126.450000
KEEN                              109.950000
Kaanas                            128.950000
Keds                               49.990000
                                     ...
kisses by 2 lips too               76.946522
koolaburra by ugg                  89.990000
lc lauren conrad                   50.279855
lifestride                         59.732622
lugz                               84.990000
madden nyc                         50.466190
muk luks                           36.000000
naturalsoul by naturalizer         71.485327
new balance                        69.159922
nike                               67.929825
nyla                               69.950000
olivia miller                      84.990000
puma                               70.000000
qupid                              54.323333
rampage                            69.990000
reef                               39.990000
rocky 4eursole                    120.272727
ryka                               62.286124
seven7                             39.636429
simply vera vera wang              68.648537
skechers                           64.611622
so                                 56.265047
soft style by hush puppies         51.640000
sonoma goods for life              69.815328
spring step                        62.774810
style charles by charles david     88.853556
sugar                              49.990000
under armour                       79.990000
unionbay                           47.990000
vans                               60.615000
Name: Prices, Length: 125, dtype: float64

In [14]:
typebycolor_df = shoes_df.groupby("Color")["Type"].unique()
typebycolor_df

Color
Black          [Heel Sandals, Booties, Heels, Sandals, Loafer...
Brown          [Heels, Sandals, Heel Sandals, Booties, Boots,...
Cream                                      [Flats, Ballet Flats]
Dark Blue      [Heels, Sandals, Loafers, Heel Sandals, Clogs,...
Dark Green     [Booties, Sneakers, Heels, Ballet Flats, Flats...
Dark Red       [Ballet Flats, Sandals, Heels, Booties, Flats,...
Gold           [Heel Sandals, Heels, Ballet Flats, Sandals, S...
Gray           [Heel Sandals, Booties, Heels, Sandals, Loafer...
Light Blue     [Heel Sandals, Sandals, Athletic Shoes, Flats,...
Light Green              [Flats, Sandals, Heels, Athletic Shoes]
Orange                   [Flats, Sandals, Athletic Shoes, Heels]
Pink           [Heel Sandals, Sandals, Heels, Athletic Shoes,...
Print          [Heels, Loafers, Sandals, Ballet Flats, Athlet...
Purple           [Athletic Shoes, Sneakers, Heels, Flats, Clogs]
Red            [Booties, Heels, Athletic Shoes, Flats, Sandal...
Tan            [Booties, Loafers, Flats, Heels, Boots, Ballet...
White          [Heel Sandals, Sandals, Sneakers, Athletic Sho...
Yellow                                          [Sandals, Boots]
Name: Type, dtype: object

In [15]:
avgpricesbytype_df = shoes_df.groupby("Type")["Prices"].mean()
avgpricesbytype_df

Type
Athletic Shoes    79.378627
Ballet Flats      60.734369
Booties           80.884943
Boots             88.556571
Clogs             59.762179
Flats             58.645897
Heel Sandals      66.014788
Heels             63.829485
Loafers           65.301558
Sandals           54.782395
Slippers          49.663333
Sneakers          69.904569
Name: Prices, dtype: float64

In [16]:
typecount_df = shoes_df.groupby("Type")["Date"].count()
typecount_df

Type
Athletic Shoes    1377
Ballet Flats       412
Booties           1831
Boots              385
Clogs              257
Flats              758
Heel Sandals      1061
Heels             2096
Loafers            430
Sandals            877
Slippers             6
Sneakers           510
Name: Date, dtype: int64

In [17]:
merchantname_df = shoes_df["Merchant"].unique()
merchantname_df

array(['kohls', 'backcountry', 'walmart', 'overstock', 'evo.com'],
      dtype=object)

In [18]:
pricesbymerchant_df = shoes_df.groupby("Merchant")["Prices"].sum()
pricesbymerchant_df

Merchant
backcountry     41880.34
evo.com          1979.60
kohls          645107.64
overstock         201.94
walmart          3065.92
Name: Prices, dtype: float64

In [19]:
totalmerchant_df = shoes_df.groupby("Merchant")["Date"].count()
totalmerchant_df

Merchant
backcountry     352
evo.com           8
kohls          9556
overstock         2
walmart          82
Name: Date, dtype: int64

In [39]:
spring19_df = spring19_df.drop(columns=["id",
                                  "dateAdded",
                                  "dateUpdated",
                                  "asins",
                                  "dimension",
                                  "ean / upc",
                                  "imageURLs",
                                  "keys",
                                  "manufacturerNumber",
                                  "prices.availability",
                                  "prices.condition",
                                  "prices.dateAdded",
                                  "prices.dateSeen",
                                  "prices.offer",
                                  "prices.returnPolicy",
                                        "sizes",
                                        "prices.shipping",
                                        "prices.merchant",
                                        "manufacturer",
                                  "prices.isSale",
                                  "primaryCategories",
                                  "prices.sourceURLs",
                                  "categories",
                                        "prices.amountMin",
                                        "prices.size",
                                        "prices.color",
                                        "sourceURLs"
                         ])
#spring19_df.head()

In [38]:
#spring19_df.info()

In [22]:
spring19_df = spring19_df.rename(columns={#"prices.merchant": "Merchant",
                                    "brand": "Brand",
                                    "colors" : "Color",
                                    "prices.currency": "Currency",
                                    "prices.amountMax": "Prices"
                                   })
spring19_df.head()

,Date,Brand,Color,Type,name,Prices,Currency,Merchant
0,5/1/19,City Classified,Black,Booties,City Classified Stylish-S Women's Zipper Ankle...,29.95,USD,Walmart
1,5/1/19,Skechers,Taupe,Athletic Shoes,"Skechers Women'S You Radiate, Walking",84.00,USD,Walmart
2,5/1/19,Floral,Black,Heels,FLORAL Pearl Women's Wide Width Evening Dress ...,49.95,USD,Walmart
3,5/1/19,Jambu,Black,Booties,Women's Jambu Amal Water Resistant Bootie,127.20,USD,Walmart
4,5/1/19,Trotters,White,Boots,"trotters women's blast iii boot,black quill,11...",47.66,USD,Walmart

In [23]:
typebybrand19_df = spring19_df.groupby("Brand")["Type"].unique()
typebybrand19_df

Brand
1.STATE                                                       [Sandals]
911Costume                                                      [Boots]
A2 by Aerosoles          [Flats, Booties, Ballet Flats, Sandals, Heels]
A35                                                             [Boots]
AARON                                                           [Boots]
AERUSI                                                          [Flats]
ARRAY                                  [Heels, Booties, Sandals, Flats]
AXNY                                                            [Boots]
Academie Gear                                                   [Flats]
Adidas                                 [Sandals, Booties, Heels, Flats]
Adriana                                                       [Booties]
Aerosoft                                      [Sandals, Athletic Shoes]
Aerosoles             [Boots, Flats, Sandals, Booties, Heels, Sneake...
Ahnu                                            [Boots, Athletic Shoes]
Aldo                                                            [Boots]
Alegria                                      [Flats, Sandals, Sneakers]
Alfani                   [Booties, Boots, Ballet Flats, Flats, Sandals]
Alotta Knits                                                    [Flats]
American Rag                                  [Booties, Heels, Sandals]
Ann Creek                                                       [Boots]
Anne Michelle                                                   [Heels]
Annie                                                  [Sandals, Heels]
Answer 2                                               [Athletic Shoes]
Anthony Wang                                                    [Boots]
Apex                                                   [Athletic Shoes]
Aqua Design                                                   [Sandals]
Aquapillar                   [Heels, Sandals, Boots, Sneakers, Booties]
Aquatalia                                                       [Boots]
Aravon                                                          [Flats]
Ariat                                                           [Boots]
                                            ...
Woolrich                                                        [Boots]
X2B                                                      [Boots, Heels]
XAPPEAL                                                         [Boots]
XOXO                                                            [Boots]
YOKI                                                 [Sandals, Booties]
Yellow Box                                             [Sandals, Flats]
ZIGI SOHO                                                     [Sandals]
Ziginy                                                        [Sandals]
aerosoles                                                     [Sandals]
alpine swiss                                             [Ballet Flats]
bed:Stu                                                         [Boots]
bumper                                                        [Sandals]
catan                                  [Boots, Sandals, Athletic Shoes]
durango                                                         [Boots]
fergalicious                                                    [Boots]
guess                                                           [Boots]
k-swiss                                                      [Sneakers]
keds                                                         [Sneakers]
lartiste                                                 [Flats, Heels]
lugz                                                            [Boots]
minnetonka                                      [Flats, Boots, Booties]
mobils by Mephisto                                           [Sneakers]
peach-couture                                                 [Sandals]
r.b.l.s.                                                      [Booties]
rialto                                                        [Booties]
ryka                                                            [Flats]
soda                                                            [Boots]
totes                                           [Athletic Shoes, Boots]
trotters                                                        [Flats]
wave                                                   [Athletic Shoes]
Name: Type, Length: 421, dtype: object

In [24]:
pricesbybrand19_df = spring19_df.groupby("Brand")["Prices"].mean()
pricesbybrand19_df

Brand
1.STATE                20.005000
911Costume             59.880000
A2 by Aerosoles        40.142708
A35                    72.795000
AARON                 229.980000
AERUSI                 25.000000
ARRAY                  45.470000
AXNY                   48.960000
Academie Gear          48.310000
Adidas                 61.459130
Adriana                33.950000
Aerosoft               30.308000
Aerosoles              94.265738
Ahnu                   67.314000
Aldo                   63.950000
Alegria               105.336667
Alfani                 46.821622
Alotta Knits            9.950000
American Rag           37.557500
Ann Creek              67.996000
Anne Michelle          30.000000
Annie                  26.867500
Answer 2              123.228750
Anthony Wang           29.000000
Apex                  144.950000
Aqua Design            19.950000
Aquapillar             39.200370
Aquatalia             149.990000
Aravon                 47.990000
Ariat                  13.330000
                         ...
Woolrich               90.830000
X2B                    49.050000
XAPPEAL                45.620000
XOXO                   32.200000
YOKI                   29.991000
Yellow Box             39.846111
ZIGI SOHO              35.400000
Ziginy                 39.480000
aerosoles             163.570000
alpine swiss           11.990000
bed:Stu                84.990000
bumper                 19.405000
catan                 120.654783
durango               124.990000
fergalicious           75.885000
guess                  47.680000
k-swiss                76.030000
keds                   59.810000
lartiste              104.758000
lugz                   87.650000
minnetonka             36.262500
mobils by Mephisto    327.865000
peach-couture          42.520000
r.b.l.s.               17.970000
rialto                 32.172500
ryka                   71.320000
soda                   27.990000
totes                  36.623333
trotters              109.950000
wave                   14.950000
Name: Prices, Length: 421, dtype: float64

In [25]:
typebycolor19_df = spring19_df.groupby("Color")["Type"].unique()
typebycolor19_df

Color
Black        [Booties, Heels, Boots, Sandals, Flats, Athlet...
Blue         [Sandals, Heels, Athletic Shoes, Boots, Bootie...
Brown        [Booties, Heels, Flats, Sneakers, Sandals, Boots]
Cream                                           [Heels, Boots]
Dark Blue                                    [Sneakers, Boots]
Gold                     [Sandals, Flats, Heels, Ballet Flats]
Gray                [Boots, Sandals, Sneakers, Booties, Flats]
Multi                                                [Sandals]
Pink                                                   [Flats]
Purple                                        [Heels, Sandals]
Red                               [Heels, Flats, Ballet Flats]
Tan                           [Sandals, Booties, Boots, Heels]
Taupe                                  [Athletic Shoes, Flats]
White                           [Boots, Heels, Booties, Flats]
Name: Type, dtype: object

In [26]:
avgpricesbytype19_df = spring19_df.groupby("Type")["Prices"].mean()
avgpricesbytype19_df

Type
Athletic Shoes    104.423435
Ballet Flats       39.226250
Boat Shoes         90.793333
Booties            73.281350
Boots              78.227232
Flats              73.227358
Heels              59.701068
Sandals            64.084960
Sneakers           79.166086
Name: Prices, dtype: float64

In [27]:
typecount19_df = spring19_df.groupby("Type")["Date"].count()
typecount19_df

Type
Athletic Shoes     556
Ballet Flats       144
Boat Shoes          18
Booties           1511
Boots             2088
Flats             2074
Heels             1545
Sandals           1643
Sneakers           419
Name: Date, dtype: int64

In [28]:
merchantname19_df = spring19_df["Merchant"].unique()
merchantname19_df

array(['Walmart', 'Shoes.com', 'Barcodable', 'Overstock'], dtype=object)

In [29]:
pricesbymerchant19_df = spring19_df.groupby("Merchant")["Prices"].sum()
pricesbymerchant19_df

Merchant
Barcodable       149.22
Overstock         95.99
Shoes.com       1127.64
Walmart       720609.89
Name: Prices, dtype: float64

In [30]:
totalmerchant19_df = spring19_df.groupby("Merchant")["Date"].count()
totalmerchant19_df

Merchant
Barcodable       3
Overstock        1
Shoes.com       32
Walmart       9962
Name: Date, dtype: int64

In [31]:
#mens_shoes_df = mens_shoes_df.drop(columns=["id",
#                                            "asins",
#                                            "count",
#                                            "imageURLs",
#                                            "descriptions",
#                                            "dimension",
#                                            "ean",
#                                            "features",
#                                            "flavors",
#                                            "isbn",
#                                            "keys",
#                                            "manufacturer",
#                                            "manufacturerNumber",
#                                            "prices.availability",
#                                            "prices.condition",
#                                            "prices.count",
#                                            "prices.dateAdded",
#                                            "prices.dateSeen",
#                                            "prices.flavor",
#                                            "prices.offer",
#                                            "prices.returnPolicy",
#                                            "prices.shipping",
#                                            "prices.size",
#                                            "prices.source",
#                                            "prices.warranty",
#                                            "quantities",
#                                            "reviews",
#                                            "sizes",
#                                            "skus",
#                                            "sourceURLs",
#                                            "upc",
#                                            "vin",
#                                            "websiteIDs",
#                                            "weight",
#                                            "prices.color",
#                                            "dateAdded",
#                                            "dateUpdated",
#                                            "Unnamed: 50"
#                                           ])

In [32]:
#mens_shoes_df = mens_shoes_df[pd.notnull(mens_shoes_df['colors'])]
#mens_shoes_df.head()

In [33]:
#mens_shoes_df.info()