In [1]:
# import dependencies
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
# location of the CSV file
womens_csv = "../Project1/Resources/2018_Womens_Shoes.csv"
mens_csv = "../Project1/Resources/mens_shoe_prices.csv"
spring19_womens_csv = "../Project1/Resources/Spring19_women.csv"

In [3]:
# open the CSV and see a preview
shoes_df = pd.read_csv(womens_csv)
shoes_df.head()

,id,Date_Added,date_updated,brand,categories,primaryCategories,imageURLs,keys,manufacturer,manufacturerNumber,...,prices.dateAdded,prices.dateSeen,prices.isSale,prices.size,Merchant,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2018-01-10T19:30:29Z,"2018-01-09T13:35:00.000Z,2018-01-05T13:09:00.0...",False,9.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
1,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,5.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
2,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,9 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
3,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2017-11-17T15:54:13Z,2017-11-03T07:19:00.000Z,False,7.5 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN
4,AV_Ee528Hh53nbDR_0vY,11/16/17,2/11/18,2 lips too,"Womens,Shoes,Pumps,Heels,2 Lips Too",Shoes,https://media.kohlsimg.com/is/image/kohls/2552...,"2lipstootooellewomenshighheelsandals/84360578,...",NaN,NaN,...,2018-02-11T05:04:36Z,"2018-01-16T16:06:00.000Z,2018-01-14T08:55:00.000Z",False,9 MED,kohls,https://www.kohls.com/product/prd-2552591/2-li...,"5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8.5 MED,9 ...",https://www.kohls.com/product/prd-2552591/2-li...,"887063591443,887063591146,887063590842,8870635...",NaN

In [4]:
mens_shoes_df = pd.read_csv(mens_csv, error_bad_lines=False)
mens_shoes_df.head()

/Users/lindseyshafer/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (41,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,asins,brand,categories,colors,count,Date_Added,dateAdded,Date_Updated,dateUpdated,...,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 50
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07,2016-11-07T00:45:12Z,2016-11-07,2016-11-07T00:45:12Z,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07,2016-11-07T00:45:12Z,2016-11-07,2016-11-07T00:45:12Z,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN

In [5]:
spring19_df = pd.read_csv(spring19_womens_csv)
spring19_df.head()

,id,dateAdded,Date,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,...,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs
0,AWpyySsJAGTnQPR7wNt4,2019-05-01T09:27:22Z,2019-05-01,2019-05-01T09:27:22Z,NaN,City Classified,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,...,2019-04-19T07:09:29Z,NaN,NaN,Online only,NaN,NaN,8,https://www.walmart.com/ip/City-Classified-Sty...,8,https://www.walmart.com/ip/City-Classified-Sty...
1,AWpyyyb3AGTnQPR7wN-u,2019-05-01T09:27:19Z,2019-05-01,2019-05-01T09:27:19Z,NaN,Skechers,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Taupe,NaN,...,2019-04-24T09:14:11Z,NaN,NaN,Online only,NaN,NaN,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,AWpyzlajAGTnQPR7wOX8,2019-05-01T09:26:59Z,2019-05-01,2019-05-01T09:26:59Z,NaN,Floral,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,...,2019-04-25T12:35:00.000Z,NaN,NaN,Online only,NaN,NaN,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,AWpyxomE0U_gzG0hkA1q,2019-05-01T09:26:56Z,2019-05-01,2019-05-01T09:26:56Z,NaN,Jambu,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,...,2019-04-30T19:49:00.000Z,NaN,NaN,Online only: 20% off,NaN,NaN,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,AWpyxChWJbEilcB6RhWx,2019-05-01T09:26:56Z,2019-05-01,2019-05-01T09:26:56Z,NaN,Trotters,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,White,NaN,...,2019-04-19T07:07:46Z,NaN,NaN,Online only: 50% off,NaN,NaN,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...

In [6]:
spring19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
id                     10000 non-null object
dateAdded              10000 non-null object
Date                   10000 non-null object
dateUpdated            10000 non-null object
asins                  5 non-null object
brand                  10000 non-null object
categories             10000 non-null object
primaryCategories      10000 non-null object
colors                 10000 non-null object
dimension              465 non-null object
ean / upc              10000 non-null float64
imageURLs              2643 non-null object
keys                   10000 non-null object
manufacturer           1362 non-null object
manufacturerNumber     1431 non-null object
name                   10000 non-null object
prices.amountMax       10000 non-null float64
prices.amountMin       10000 non-null float64
prices.availability    10000 non-null bool
prices.color           10000 non-null object
prices.condition       0 non-null float64
prices.currency        10000 non-null object
prices.dateAdded       0 non-null float64
prices.dateSeen        10000 non-null object
prices.isSale          1364 non-null object
prices.merchant        0 non-null float64
prices.offer           10000 non-null object
prices.returnPolicy    0 non-null float64
prices.shipping        49 non-null object
prices.size            10000 non-null object
prices.sourceURLs      10000 non-null object
sizes                  10000 non-null object
sourceURLs             10000 non-null object
dtypes: bool(1), float64(7), object(25)
memory usage: 2.5+ MB

In [7]:
# info on the csv file (see where data is missing, data types)
shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 28 columns):
id                     10000 non-null object
Date_Added             10000 non-null object
date_updated           10000 non-null object
brand                  10000 non-null object
categories             10000 non-null object
primaryCategories      10000 non-null object
imageURLs              10000 non-null object
keys                   10000 non-null object
manufacturer           527 non-null object
manufacturerNumber     2482 non-null object
Type_Name              10000 non-null object
name                   10000 non-null object
prices.amountMax       10000 non-null float64
prices.amountMin       10000 non-null float64
prices.availability    434 non-null object
prices.color           10000 non-null object
prices.condition       438 non-null object
prices.currency        10000 non-null object
prices.dateAdded       9223 non-null object
prices.dateSeen        10000 non-null object
prices.isSale          10000 non-null object
prices.size            10000 non-null object
Merchant               10000 non-null object
prices.sourceURLs      10000 non-null object
sizes                  10000 non-null object
sourceURLs             10000 non-null object
upc                    9640 non-null object
weight                 299 non-null object
dtypes: float64(2), object(26)
memory usage: 2.1+ MB

In [8]:
mens_shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 51 columns):
id                     19387 non-null object
asins                  2571 non-null object
brand                  19129 non-null object
categories             19387 non-null object
colors                 11048 non-null object
count                  0 non-null float64
Date_Added             19387 non-null object
dateAdded              19387 non-null object
Date_Updated           19387 non-null object
dateUpdated            19387 non-null object
descriptions           9904 non-null object
dimension              2991 non-null object
ean                    9999 non-null float64
features               13997 non-null object
flavors                0 non-null float64
imageURLs              18342 non-null object
isbn                   0 non-null float64
keys                   19387 non-null object
manufacturer           6699 non-null object
manufacturerNumber     15147 non-null object
merchants              14040 non-null object
name                   19387 non-null object
prices.amountMin       19377 non-null object
prices.amountMax       19387 non-null object
prices.availability    197 non-null object
prices.color           758 non-null object
prices.condition       12621 non-null object
prices.count           71 non-null object
prices.currency        19311 non-null object
prices.dateAdded       19372 non-null object
prices.dateSeen        19362 non-null object
prices.flavor          76 non-null object
prices.isSale          19321 non-null object
prices.merchant        13843 non-null object
prices.offer           6091 non-null object
prices.returnPolicy    1018 non-null object
prices.shipping        5753 non-null object
prices.size            661 non-null object
prices.source          16 non-null object
prices.sourceURLs      19300 non-null object
prices.warranty        108 non-null object
quantities             11 non-null object
reviews                1664 non-null object
sizes                  5979 non-null object
skus                   8743 non-null object
sourceURLs             19308 non-null object
upc                    10816 non-null object
vin                    46 non-null object
websiteIDs             8 non-null object
weight                 863 non-null object
Unnamed: 50            3 non-null object
dtypes: float64(4), object(47)
memory usage: 7.5+ MB

In [9]:
# drop unneeded columns here
shoes_df = shoes_df.drop(columns=["id",
                                  "prices.size",
                                  "weight",
                                  "prices.condition",
                                  "imageURLs",
                                  "manufacturerNumber",
                                  "upc",
                                  "sourceURLs",
                                  "prices.availability",
                                  "sizes",
                                  "keys",
                                  "manufacturer",
                                  "prices.dateAdded",
                                  "prices.dateSeen",
                                  "name",
                                  "Date_Added",
                                  "prices.isSale",
                                  "primaryCategories",
                                  "prices.sourceURLs",
                                  "categories"
                         ])

In [10]:
# rename columns
shoes_df = shoes_df.rename(columns={#"prices.merchant": "Merchant",
                                    "brand": "Brand",
                                    "prices.color" : "Color",
                                    "Type_Name": "Type",
                                    "date_updated": "Date",
                                    "prices.currency": "Currency",
                                    "prices.amountMax": "Prices"
                                   })
shoes_df.head()

,Date,Brand,Type,Prices,prices.amountMin,Color,Currency,Merchant
0,2/11/18,2 lips too,Heel Sandals,64.95,64.95,Gold,USD,kohls
1,2/11/18,2 lips too,Heel Sandals,64.95,49.99,Pink,USD,kohls
2,2/11/18,2 lips too,Heel Sandals,64.95,49.99,Pink,USD,kohls
3,2/11/18,2 lips too,Heel Sandals,64.95,49.99,Gold,USD,kohls
4,2/11/18,2 lips too,Heel Sandals,64.95,42.49,White,USD,kohls

In [11]:
shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 8 columns):
Date                10000 non-null object
Brand               10000 non-null object
Type                10000 non-null object
Prices              10000 non-null float64
prices.amountMin    10000 non-null float64
Color               10000 non-null object
Currency            10000 non-null object
Merchant            10000 non-null object
dtypes: float64(2), object(6)
memory usage: 625.1+ KB

In [12]:
typebybrand_df = shoes_df.groupby("Brand")["Type"].unique()
typebybrand_df

Brand
2 lips too                                                  [Heel Sandals, Booties]
Adidas                                                             [Athletic Shoes]
Adidas Outdoor                                                     [Athletic Shoes]
Altra                                                              [Athletic Shoes]
Arc'teryx                                                          [Athletic Shoes]
Asics                                                              [Athletic Shoes]
Astral                                                            [Flats, Sneakers]
Birkenstock                                                                 [Clogs]
Bogs                                                                     [Sneakers]
Brinley Co.                                 [Boots, Heels, Booties, Flats, Sandals]
Brinley Co. Collection                                                      [Heels]
Brooks                                                             [Athletic Shoes]
Carrini                                                                     [Boots]
Chaco                                                              [Athletic Shoes]
Daniel Green                                                             [Slippers]
Danskin Now                                                        [Athletic Shoes]
Dansko                                                                      [Clogs]
Dr. Scholl's                                                              [Loafers]
ELLIE SHOES                                                                 [Flats]
Earth Spirit                                                              [Sandals]
Easy Street                                                                 [Heels]
FOREVER YOUNG                                                               [Boots]
Faded Glory                                                [Sneakers, Flats, Boots]
Fergalicious                                                                [Flats]
Free People                                                               [Booties]
Frye                                                                 [Ballet Flats]
Genuine Dickies                                                             [Clogs]
Hoka One One                                                       [Athletic Shoes]
IB Non-Slip                                                                 [Boots]
Inov 8                                                             [Athletic Shoes]
                                                        ...
kisses by 2 lips too                                               [Boots, Booties]
koolaburra by ugg                                                           [Boots]
lc lauren conrad                                 [Booties, Heels, Sandals, Loafers]
lifestride                        [Booties, Heels, Sandals, Flats, Loafers, Ball...
lugz                                                                      [Booties]
madden nyc                                      [Booties, Heels, Sandals, Sneakers]
muk luks                                                                  [Sandals]
naturalsoul by naturalizer        [Heel Sandals, Ballet Flats, Loafers, Sneakers...
new balance                                               [Athletic Shoes, Sandals]
nike                                                     [Athletic Shoes, Sneakers]
nyla                                                                 [Heel Sandals]
olivia miller                                                               [Boots]
puma                                                                     [Sneakers]
qupid                                              [Heel Sandals, Booties, Sandals]
rampage                                                            [Sandals, Heels]
reef                                                                      [Sandals]
rocky 4eursole                                                            [Sandals]
ryka                                 [Athletic Shoes, Boots, Sandals, Heel Sandals]
seven7                                                             [Flats, Sandals]
simply vera vera wang                         [Flats, Booties, Heels, Ballet Flats]
skechers                                   [Athletic Shoes, Sneakers, Ballet Flats]
so                                            [Ballet Flats, Booties, Flats, Boots]
soft style by hush puppies                                    [Clogs, Heel Sandals]
sonoma goods for life                     [Booties, Loafers, Heel Sandals, Sandals]
spring step                                          [Clogs, Sandals, Heels, Flats]
style charles by charles david    [Heel Sandals, Boots, Heels, Ballet Flats, Loa...
sugar                                                                       [Boots]
under armour                                                             [Sneakers]
unionbay                                                                  [Loafers]
vans                                                                     [Sneakers]
Name: Type, Length: 129, dtype: object

In [13]:
pricesbybrand_df = shoes_df.groupby("Brand")["Prices"].mean()
pricesbybrand_df

Brand
2 lips too                         67.320526
Adidas                            135.664286
Adidas Outdoor                    107.950000
Altra                             129.950000
Arc'teryx                         170.000000
Asics                             119.950000
Astral                             89.925000
Birkenstock                       133.333333
Bogs                               64.990000
Brinley Co.                        35.818108
Brinley Co. Collection             69.990000
Brooks                            125.213158
Carrini                            34.950000
Chaco                             119.950000
Daniel Green                       35.000000
Danskin Now                        19.740000
Dansko                            130.000000
Dr. Scholl's                       32.980000
ELLIE SHOES                        37.410000
Earth Spirit                       19.820000
Easy Street                        54.990000
FOREVER YOUNG                      45.990000
Faded Glory                        14.587500
Fergalicious                       54.950000
Free People                       178.000000
Frye                              165.450000
Genuine Dickies                    19.970000
Hoka One One                      144.235714
IB Non-Slip                        39.990000
Inov 8                            126.450000
                                     ...
kisses by 2 lips too               76.946522
koolaburra by ugg                  89.990000
lc lauren conrad                   50.279855
lifestride                         59.732622
lugz                               84.990000
madden nyc                         50.466190
muk luks                           36.000000
naturalsoul by naturalizer         71.485327
new balance                        69.159922
nike                               67.929825
nyla                               69.950000
olivia miller                      84.990000
puma                               70.000000
qupid                              54.323333
rampage                            69.990000
reef                               39.990000
rocky 4eursole                    120.272727
ryka                               62.286124
seven7                             39.636429
simply vera vera wang              68.648537
skechers                           64.611622
so                                 56.265047
soft style by hush puppies         51.640000
sonoma goods for life              69.815328
spring step                        62.774810
style charles by charles david     88.853556
sugar                              49.990000
under armour                       79.990000
unionbay                           47.990000
vans                               60.615000
Name: Prices, Length: 129, dtype: float64

In [14]:
typebycolor_df = shoes_df.groupby("Color")["Type"].unique()
typebycolor_df

Color
Black          [Heel Sandals, Booties, Heels, Sandals, Loafer...
Brown          [Heels, Sandals, Heel Sandals, Booties, Boots,...
Cream                                      [Flats, Ballet Flats]
Dark Blue      [Heels, Sandals, Loafers, Heel Sandals, Clogs,...
Dark Green     [Booties, Sneakers, Heels, Ballet Flats, Flats...
Dark Red       [Ballet Flats, Sandals, Heels, Booties, Flats,...
Gold           [Heel Sandals, Heels, Ballet Flats, Sandals, S...
Gray           [Heel Sandals, Booties, Heels, Sandals, Loafer...
Light Blue     [Heel Sandals, Sandals, Athletic Shoes, Flats,...
Light Green              [Flats, Sandals, Heels, Athletic Shoes]
Orange                   [Flats, Sandals, Athletic Shoes, Heels]
Pink           [Heel Sandals, Sandals, Heels, Athletic Shoes,...
Print          [Heels, Loafers, Sandals, Ballet Flats, Athlet...
Purple           [Athletic Shoes, Sneakers, Heels, Flats, Clogs]
Red            [Booties, Heels, Athletic Shoes, Flats, Sandal...
Tan            [Booties, Loafers, Flats, Heels, Boots, Ballet...
White          [Heel Sandals, Sandals, Sneakers, Athletic Sho...
Yellow                                          [Sandals, Boots]
Name: Type, dtype: object

In [15]:
avgpricesbytype_df = shoes_df.groupby("Type")["Prices"].mean()
avgpricesbytype_df

Type
Athletic Shoes    79.378627
Ballet Flats      60.734369
Booties           80.884943
Boots             88.556571
Clogs             59.762179
Flats             58.645897
Heel Sandals      66.014788
Heels             63.829485
Loafers           65.301558
Sandals           54.782395
Slippers          49.663333
Sneakers          69.904569
Name: Prices, dtype: float64

In [16]:
typecount_df = shoes_df.groupby("Type")["Date"].count()
typecount_df

Type
Athletic Shoes    1377
Ballet Flats       412
Booties           1831
Boots              385
Clogs              257
Flats              758
Heel Sandals      1061
Heels             2096
Loafers            430
Sandals            877
Slippers             6
Sneakers           510
Name: Date, dtype: int64

In [17]:
merchantname_df = shoes_df["Merchant"].unique()
merchantname_df

array(['kohls', 'backcountry', 'walmart', 'overstock', 'evo.com', nan],
      dtype=object)

In [18]:
pricesbymerchant_df = shoes_df.groupby("Merchant")["Prices"].sum()
pricesbymerchant_df

Merchant
backcountry     41880.34
evo.com          1979.60
kohls          645107.64
overstock         201.94
walmart          3065.92
Name: Prices, dtype: float64

In [19]:
totalmerchant_df = shoes_df.groupby("Merchant")["Date"].count()
totalmerchant_df

Merchant
backcountry     352
evo.com           8
kohls          9556
overstock         2
walmart          82
Name: Date, dtype: int64

In [20]:
spring19_df = spring19_df.drop(columns=["id",
                                  "dateAdded",
                                  "dateUpdated",
                                  "asins",
                                  "dimension",
                                  "ean / upc",
                                  "imageURLs",
                                  "keys",
                                  "manufacturerNumber",
                                  "prices.availability",
                                  "prices.condition",
                                  "prices.dateAdded",
                                  "prices.dateSeen",
                                  "prices.offer",
                                  "prices.returnPolicy",
                                        "sizes",
                                        "prices.shipping",
                                        "prices.merchant",
                                        "manufacturer",
                                  "prices.isSale",
                                  "primaryCategories",
                                  "prices.sourceURLs",
                                  "categories",
                                        "prices.amountMin",
                                        "prices.size"
                         ])
spring19_df.head()

,Date,brand,colors,name,prices.amountMax,prices.color,prices.currency,sourceURLs
0,2019-05-01,City Classified,Black,City Classified Stylish-S Women's Zipper Ankle...,29.95,Black,USD,https://www.walmart.com/ip/City-Classified-Sty...
1,2019-05-01,Skechers,Taupe,"Skechers Women'S You Radiate, Walking",84.00,Taupe,USD,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,2019-05-01,Floral,Black,FLORAL Pearl Women's Wide Width Evening Dress ...,49.95,Black,USD,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,2019-05-01,Jambu,Black,Women's Jambu Amal Water Resistant Bootie,127.20,Black/Multi,USD,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,2019-05-01,Trotters,White,"trotters women's blast iii boot,black quill,11...",47.66,White,USD,https://www.walmart.com/ip/Women-s-Trotters-Bl...

In [24]:
spring19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
Date                10000 non-null object
brand               10000 non-null object
colors              10000 non-null object
name                10000 non-null object
prices.amountMax    10000 non-null float64
prices.color        10000 non-null object
prices.currency     10000 non-null object
sourceURLs          10000 non-null object
dtypes: float64(1), object(7)
memory usage: 625.1+ KB

In [21]:
mens_shoes_df = mens_shoes_df.drop(columns=["id",
                                            "asins",
                                            "count",
                                            "imageURLs",
                                            "descriptions",
                                            "dimension",
                                            "ean",
                                            "features",
                                            "flavors",
                                            "isbn",
                                            "keys",
                                            "manufacturer",
                                            "manufacturerNumber",
                                            "prices.availability",
                                            "prices.condition",
                                            "prices.count",
                                            "prices.dateAdded",
                                            "prices.dateSeen",
                                            "prices.flavor",
                                            "prices.offer",
                                            "prices.returnPolicy",
                                            "prices.shipping",
                                            "prices.size",
                                            "prices.source",
                                            "prices.warranty",
                                            "quantities",
                                            "reviews",
                                            "sizes",
                                            "skus",
                                            "sourceURLs",
                                            "upc",
                                            "vin",
                                            "websiteIDs",
                                            "weight",
                                            "prices.color",
                                            "dateAdded",
                                            "dateUpdated",
                                            "Unnamed: 50"
                                           ])

In [22]:
mens_shoes_df = mens_shoes_df[pd.notnull(mens_shoes_df['colors'])]
mens_shoes_df.head()

,brand,categories,colors,Date_Added,Date_Updated,merchants,name,prices.amountMin,prices.amountMax,prices.currency,prices.isSale,prices.merchant,prices.sourceURLs
13,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,9.99,9.99,USD,FALSE,"BHFO, Inc. - Walmart.com",https://www.walmart.com/ip/Maui-And-Sons-David...
14,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,19.99,19.99,USD,TRUE,"BHFO, Inc. - Walmart.com",http://www.walmart.com/ip/Maui-And-Sons-David-...
15,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,25,25,USD,FALSE,ApparelSave - Walmart.com,https://www.walmart.com/ip/Maui-And-Sons-David...
16,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,15.99,15.99,USD,TRUE,ApparelSave - Walmart.com,http://www.walmart.com/ip/Maui-And-Sons-David-...
17,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,9.99,9.99,USD,TRUE,ApparelSave - Walmart.com,https://www.walmart.com/ip/Maui-And-Sons-David...

In [23]:
mens_shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11048 entries, 13 to 19382
Data columns (total 13 columns):
brand                10889 non-null object
categories           11048 non-null object
colors               11048 non-null object
Date_Added           11048 non-null object
Date_Updated         11048 non-null object
merchants            9924 non-null object
name                 11048 non-null object
prices.amountMin     11038 non-null object
prices.amountMax     11048 non-null object
prices.currency      11011 non-null object
prices.isSale        11009 non-null object
prices.merchant      7584 non-null object
prices.sourceURLs    11002 non-null object
dtypes: object(13)
memory usage: 1.2+ MB