In [1]:
# import dependencies
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
# location of the CSV file
womens_csv = "../Project1/Resources/Datafiniti_Womens_Shoes.csv"
mens_csv = "../Project1/Resources/mens_shoe_prices.csv"

In [3]:
# open the CSV and see a preview
shoes_df = pd.read_csv(womens_csv)
shoes_df.head()

,id,Date_Added,dateAdded,date_updated,dateUpdated,asins,brand,categories,primaryCategories,colors,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04,2015-05-04T12:13:08Z,2018-01-29,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,17136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27,2017-01-27T01:23:39Z,2018-01-03,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,33977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27,2017-01-27T01:23:39Z,2018-01-03,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,33977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27,2017-01-27T01:25:56Z,2018-01-04,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,33977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27,2017-01-27T01:25:56Z,2018-01-18,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,33977045958,NaN

In [4]:
mens_shoes_df = pd.read_csv(mens_csv, error_bad_lines=False)
mens_shoes_df.head()

/Users/lindseyshafer/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (41,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,asins,brand,categories,colors,count,Date_Added,dateAdded,Date_Updated,dateUpdated,...,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 50
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07,2016-11-07T00:45:12Z,2016-11-07,2016-11-07T00:45:12Z,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07,2016-11-07T00:45:12Z,2016-11-07,2016-11-07T00:45:12Z,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14,2016-06-14T04:29:57Z,2016-07-09,2016-07-09T20:26:48Z,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN

In [5]:
# info on the csv file (see where data is missing, data types)
shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 37 columns):
id                     10000 non-null object
Date_Added             10000 non-null object
dateAdded              10000 non-null object
date_updated           10000 non-null object
dateUpdated            10000 non-null object
asins                  3 non-null object
brand                  10000 non-null object
categories             10000 non-null object
primaryCategories      10000 non-null object
colors                 2631 non-null object
dimension              117 non-null object
ean                    671 non-null float64
imageURLs              10000 non-null object
keys                   10000 non-null object
manufacturer           527 non-null object
manufacturerNumber     2482 non-null object
Type_Name              10000 non-null object
name                   10000 non-null object
prices.amountMax       10000 non-null float64
prices.amountMin       10000 non-null float64
prices.availability    434 non-null object
prices.color           10000 non-null object
prices.condition       438 non-null object
prices.currency        10000 non-null object
prices.dateAdded       9223 non-null object
prices.dateSeen        10000 non-null object
prices.isSale          10000 non-null bool
prices.merchant        435 non-null object
prices.offer           121 non-null object
prices.returnPolicy    0 non-null float64
prices.shipping        412 non-null object
prices.size            10000 non-null object
prices.sourceURLs      10000 non-null object
sizes                  10000 non-null object
sourceURLs             10000 non-null object
upc                    9640 non-null object
weight                 299 non-null object
dtypes: bool(1), float64(4), object(32)
memory usage: 2.8+ MB

In [6]:
mens_shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 51 columns):
id                     19387 non-null object
asins                  2571 non-null object
brand                  19129 non-null object
categories             19387 non-null object
colors                 11048 non-null object
count                  0 non-null float64
Date_Added             19387 non-null object
dateAdded              19387 non-null object
Date_Updated           19387 non-null object
dateUpdated            19387 non-null object
descriptions           9904 non-null object
dimension              2991 non-null object
ean                    9999 non-null float64
features               13997 non-null object
flavors                0 non-null float64
imageURLs              18342 non-null object
isbn                   0 non-null float64
keys                   19387 non-null object
manufacturer           6699 non-null object
manufacturerNumber     15147 non-null object
merchants              14040 non-null object
name                   19387 non-null object
prices.amountMin       19377 non-null object
prices.amountMax       19387 non-null object
prices.availability    197 non-null object
prices.color           758 non-null object
prices.condition       12621 non-null object
prices.count           71 non-null object
prices.currency        19311 non-null object
prices.dateAdded       19372 non-null object
prices.dateSeen        19362 non-null object
prices.flavor          76 non-null object
prices.isSale          19321 non-null object
prices.merchant        13843 non-null object
prices.offer           6091 non-null object
prices.returnPolicy    1018 non-null object
prices.shipping        5753 non-null object
prices.size            661 non-null object
prices.source          16 non-null object
prices.sourceURLs      19300 non-null object
prices.warranty        108 non-null object
quantities             11 non-null object
reviews                1664 non-null object
sizes                  5979 non-null object
skus                   8743 non-null object
sourceURLs             19308 non-null object
upc                    10816 non-null object
vin                    46 non-null object
websiteIDs             8 non-null object
weight                 863 non-null object
Unnamed: 50            3 non-null object
dtypes: float64(4), object(47)
memory usage: 7.5+ MB

In [7]:
# drop unneeded columns here
shoes_df = shoes_df.drop(columns=["id",
                                  "asins",
                                  "ean",
                                  "prices.offer",
                                  "prices.size",
                                  "prices.returnPolicy",
                                  "weight",
                                  "prices.shipping",
                                  "dimension",
                                  "prices.condition",
                                  "colors",
                                  "imageURLs",
                                  "manufacturerNumber",
                                  "upc",
                                  "sourceURLs",
                                  "prices.availability",
                                  "sizes",
                                  "keys",
                                  "manufacturer",
                                  "prices.dateAdded",
                                  "prices.dateSeen",
                                  "dateAdded",
                                  "dateUpdated",
                                  "name",
                                  "Date_Added",
                                  "prices.isSale"
                         ])

In [8]:
# rename columns
shoes_df = shoes_df.rename(columns={"prices.merchant": "Merchant",
                                    "brand": "Brand",
                                    "prices.color" : "Color",
                                    "Type_Name": "Type",
                                    "date_updated": "Date"
                                   })
shoes_df.head()

,Date,Brand,categories,primaryCategories,Type,prices.amountMax,prices.amountMin,Color,prices.currency,Merchant,prices.sourceURLs
0,2018-01-29,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Sandals,55.99,55.99,UWomens M Regular,USD,Overstock.com,https://www.overstock.com/Clothing-Shoes/Women...
1,2018-01-03,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Flats,47.00,35.25,Grey,USD,Walmart.com,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...
2,2018-01-03,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Flats,35.25,35.25,Grey,USD,Slippers Dot Com,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...
3,2018-01-04,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Slippers,24.75,24.75,Black,USD,Slippers Dot Com,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...
4,2018-01-18,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Slippers,33.00,30.39,Grey,USD,Walmart.com,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...

In [9]:
shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
Date                 10000 non-null object
Brand                10000 non-null object
categories           10000 non-null object
primaryCategories    10000 non-null object
Type                 10000 non-null object
prices.amountMax     10000 non-null float64
prices.amountMin     10000 non-null float64
Color                10000 non-null object
prices.currency      10000 non-null object
Merchant             435 non-null object
prices.sourceURLs    10000 non-null object
dtypes: float64(2), object(9)
memory usage: 859.5+ KB

In [10]:
mens_shoes_df = mens_shoes_df.drop(columns=["id",
                                            "asins",
                                            "count",
                                            "imageURLs",
                                            "descriptions",
                                            "dimension",
                                            "ean",
                                            "features",
                                            "flavors",
                                            "isbn",
                                            "keys",
                                            "manufacturer",
                                            "manufacturerNumber",
                                            "prices.availability",
                                            "prices.condition",
                                            "prices.count",
                                            "prices.dateAdded",
                                            "prices.dateSeen",
                                            "prices.flavor",
                                            "prices.offer",
                                            "prices.returnPolicy",
                                            "prices.shipping",
                                            "prices.size",
                                            "prices.source",
                                            "prices.warranty",
                                            "quantities",
                                            "reviews",
                                            "sizes",
                                            "skus",
                                            "sourceURLs",
                                            "upc",
                                            "vin",
                                            "websiteIDs",
                                            "weight",
                                            "prices.color",
                                            "dateAdded",
                                            "dateUpdated",
                                            "Unnamed: 50"
                                           ])

In [11]:
mens_shoes_df = mens_shoes_df[pd.notnull(mens_shoes_df['colors'])]
mens_shoes_df.head()

,brand,categories,colors,Date_Added,Date_Updated,merchants,name,prices.amountMin,prices.amountMax,prices.currency,prices.isSale,prices.merchant,prices.sourceURLs
13,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,9.99,9.99,USD,FALSE,"BHFO, Inc. - Walmart.com",https://www.walmart.com/ip/Maui-And-Sons-David...
14,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,19.99,19.99,USD,TRUE,"BHFO, Inc. - Walmart.com",http://www.walmart.com/ip/Maui-And-Sons-David-...
15,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,25,25,USD,FALSE,ApparelSave - Walmart.com,https://www.walmart.com/ip/Maui-And-Sons-David...
16,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,15.99,15.99,USD,TRUE,ApparelSave - Walmart.com,http://www.walmart.com/ip/Maui-And-Sons-David-...
17,MAUI AND SONS,"All Men's Shoes,Shoes,Men's Shoes,Clothing","Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",2016-11-15,2016-11-15,"[{""dateSeen"":[""2016-11-15T12:45:09Z""],""name"":""...",Maui and Sons David Men Open Toe Synthetic F...,9.99,9.99,USD,TRUE,ApparelSave - Walmart.com,https://www.walmart.com/ip/Maui-And-Sons-David...

In [12]:
mens_shoes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11048 entries, 13 to 19382
Data columns (total 13 columns):
brand                10889 non-null object
categories           11048 non-null object
colors               11048 non-null object
Date_Added           11048 non-null object
Date_Updated         11048 non-null object
merchants            9924 non-null object
name                 11048 non-null object
prices.amountMin     11038 non-null object
prices.amountMax     11048 non-null object
prices.currency      11011 non-null object
prices.isSale        11009 non-null object
prices.merchant      7584 non-null object
prices.sourceURLs    11002 non-null object
dtypes: object(13)
memory usage: 1.2+ MB